body {
  background-color: black;
}
#videoBG {
  position: fixed;
  z-index: -1;
}
#intro {
  position: absolute;
  left: 40%;
  top: 25%;
  background: rgba(53, 44, 122, 0);
  color: #f1f1f1;
  max-width: 100%;
}
.foto {
  background-color: #f1f1f1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h1,
h2 {
  color: aliceblue;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
.navbar {
  background-color: rgba(53, 44, 122, 0);
  overflow: hidden;
  position: fixed;
}
.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media (max-width: 480px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 18px;
  }
  .navbar a {
    font-size: 16px;
  }
  #intro {
    left: 25%;
    top: 25%;
  }
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
