$primary: #803b7a;
$secondary :#ffcae9;

.navbar {
  background-color: $primary;
}

.nav-link>h6 {
  color: #d169ccf0;
}

.nav-link>h6:hover {
  color: #e1e1e1;
}

#home>h1 {
  color: #d169ccf0;
}
.heading {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
} 

.heading span { 
   background:#fff; 
   padding:0 10px; 
}

@media screen and (max-width : 992px) {
  #techskillpic{
    display: none;
  }  
}


.card {
  min-height: 400px;
  max-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.934) 0px 3px 8px;
}


@import "bootstrap";